.participant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #FFF4F4;
    margin-bottom: 10px;
    border-radius: 14px;
    border: 1px solid transparent;
    &__title, &__name{
        font-size: 20px;
        color:#16425B;
        font-family:'Roboto', sans-serif;
    }

    &:hover{
        background-color: #7CA2BD;
        border: 1px solid black;
        color:#ffff;
        .participant__title,
        .participant__name{
            color:#ffff;
        }
    }
}