.footer-content{
    max-width: 1145px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    &__links{
        width:150px;
        height:60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & img{
            width:40px;
            height:40px;
        } 
    }
    &__copiright{
        height:60px;
        display: flex;
        align-items: center;
        color: #ffff;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }
}

footer{
    width:100%;
    min-height:60px;
    max-height: 60px;
    background-color: #84A9C0;
}
