.content-description{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.description{
    background-color: #FFF4F4;
    width:400px;
    height:600px;
}
.inform{
    background-color: #FFF4F4;
    width:160px;
    height:300px;
}