@import "_variables";
@import "_null";
@import "_mixins";
@import "_fonts";
@import "_header";
@import "_popup";
@import "_events";
@import "_waiting";
@import "_footer";
@import "_expertiza";

html{
    height: 100%;
}
body{
    background-color: $bg;
    height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
main{
    flex:1 0 auto;
}
.container{
    max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 24px;
}
.logo{
    font-size: 40px;
    font-family: 'Milonga';
    color: black;
    &:visited{
        color: black;
    }
}
.btn{
    padding: 3px 30px;
    border-radius: 20px;
    color: $textBlue;
    font-size: 20px;
    background-color: #DDEDED;
}
.form-btn{
    color: black;
    padding: 6px 25px;
    border-radius: 10px;
    font-size: 18px;
    &:hover{
        background-color: #DCEBF0;
    }
}
.title{
    font-size: 27px;
    color: $textBlue;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 10px;
}
input{
    font-size: 22px;
    color: #9B9999;
    padding: 7px 8px;
}
.link-btn{
    display: block;
}



/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    &:hover  {
        .dropdown-content{
            display: block;
        }
        .dropbtn {
            background-color: #3e8e41;
        }   
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    text-align: right;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: #f1f1f1
        }
    }
}